#lp-register {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/images/bg/bg-3.jpg") fixed no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#lp-register .wrapper {
    padding-top: 140px;
    padding-bottom: 140px;
}

.intro-texts {
    color: #fff;
    font-size: 14px;
    transform: translateY(100px);
}

.intro-texts h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

.intro-texts button {
    margin-top: 20px;
    border-radius: 30px;
    padding: 8px 20px;
    width: 150px;
}

.intro-texts button::before {
    content: none;
}


/*Registration Form Container*/

.reg-form-container {
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, .4);
    padding: 40px 40px 40px 60px;
    border-radius: 6px;
    position: relative;
    min-height: 560px;
    z-index: 10;
}

.reg-form-container::before {
    content: "";
    background: rgba(255, 255, 255, .1);
    width: 95%;
    height: 70%;
    border-radius: 6px;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}

.reg-form-container::after {
    content: "";
    background: rgba(255, 255, 255, .1);
    width: 90%;
    height: 65%;
    border-radius: 6px;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.reg-form-container .reg-options::before {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    height: 70%;
    width: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    border-radius: 6px 0 0 6px;
    z-index: -1;
}


/*Registration Login/Register Tabs*/

.reg-form-container .reg-options .nav-tabs {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-60%) rotate(270deg);
    border: none;
}

.reg-form-container .nav-tabs>li {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.reg-form-container .nav-tabs>li::after {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    height: 25px;
    width: 1px;
    position: absolute;
    right: -10px;
    top: 5px;
}

.reg-form-container .nav-tabs>li:last-child::after {
    content: none;
}

.reg-form-container .nav-tabs>li>a {
    background: transparent;
    color: #939598;
    padding: 5px 30px;
    min-width: 120px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
}

.reg-form-container .nav-tabs>li.active>a,
.reg-form-container .nav-tabs>li.active>a:focus,
.reg-form-container .nav-tabs>li.active>a:hover {
    background: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
}


/*Registration Form*/

#registration_form .form-group,
#Login_form .form-group {
    margin-bottom: 10px;
}

#registration_form .form-control,
#Login_form .form-control {
    background: #fff;
    color: #939598;
    border-radius: 30px;
    box-shadow: none;
    width: 100%;
    border: 1px solid #f2f2f2;
    padding-left: 15px;
}

#registration_form select.form-control {
    background: rgba(0, 0, 0, 0) url("../../assets/images/down-arrow.png") no-repeat scroll calc(100% - 10px) center / 8px auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #939598;
}

#registration_form p.birth {
    margin-left: 10px;
}


/*Social Links Bottom*/

#lp-register ul.social-icons {
    text-align: center;
    margin-top: 40px;
    z-index: 11;
}

#lp-register ul.social-icons li {
    border: none;
}

#lp-register ul.social-icons li a {
    color: #fff;
}

#lp-register ul.social-icons li a:hover {
    color: #27aae1;
    transition: all .5s;
}